* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
h2 {
  font-family: Raleway, sans-serif;
  font-size: 28px;
  margin: 15px 0;
  color: gray;
}
p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: Raleway, sans-serif;
  text-align: right;
}
.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #9139b5;
}
#quote-box {
  width: 450px;
  padding: 40px;
  border-radius: 10px;
  background-color: #ffffff;
}
.actions {
  display: flex;
}

.button {
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: Raleway, sans-serif;
  padding: 7px;
  border-radius: 5px;
  margin-left: 65%;
  margin-top: 5px;
  width: 550px;
}
.custom-icon {
  margin-left: 10px; 
  
    
  }
#tweet-quote{
  color: inherit; 
}
